<h3>F O U N D E R</h3>
<ul>
	A034 RITCHIE FERNANDEZ 
</ul>

<h3>C H A R T E R    C L A S S </h3>
<ul>
	001 JOHN CAPARAS
	002 FIEL RINO
	003 JOSEPH T. ORAIS
	004 MICHAEL N GARCIA
	005 ABE A. BLANCO
	006 GENE PAEK
	007 DANIYEL M. GARCIA
</ul>

<h3>A L P H A    C L A S S</h3>
<ul>
	008 GRANT D. LUKE
	009 NICHOLAS A. VOIGHT
	010 GABRIEL RAYRAY
	011 ROBERT W. NEWSTEAD
	012 KYOO EEK CHOE
	013 RICK LAU
	014 ERICK T. MURAMOTO
	015 MANUEL MORENO
</ul>
 
<h3>B E T A    CLASS</h3>
<ul>
	016 NOLI S. FORALES
	017 MICHAEL RINO
	018 JOSEPH L. CABRERA
	019 STEPHEN J. MIAO
	020 LAWRENCE DABON
	021 STEPHEN LUM
</ul>

<h3>G A M M A    C L A S S</h3>
<ul>
	022 GERARD APOLINAR
	023 LEONARD H. TRAC
	024 VINAY SINGH
	025 JOEL SINANG
</ul>

<h3>D E L T A    C L A S S</h3>
<ul>
	026 JEREMIAH REYES
	027 ADAM MALBROUGH
	028 FRANCIS ZAMORA
	029 MANUEL A. SOTO
</ul>
 
<h3>E P S I L O N    C L A S S</h3>
<ul>
	030 JASON SALUTA
	031 MARK H. MELENDRES
	032 RANDY C. RULLAMAS
	033 MICHAEL A. GAMENG
	034 HUA HUNYH
	035 STANLEY S.K. LEE
</ul>
 
<h3>Z E T A    C L A S S</h3>
<ul>
	036 JERWIN NIPAY GARCIA
	037 ISAAC T. BENEKE 
</ul>

<h3>E T A    C L A S S </h3>
<ul>
038 ENRIQUE BIBAT

<h3>T H E T A    C L A S S</h3>
<ul>
	039 ALBERT NGUYEN
	040 RHENER SOLIS
	041 KEVIN HUTCHISON
</ul>

<h3>I O T A    C L A S S SPRING 2001</h3>
<ul>
	 042 JONATHAN A. PINGUE
	043 JORDAN W. DODGE
	044 DANIEL MAXFIELD
	045 LAWRENCE CHEUNG
	046 JASON A. TOLEDO
	047 SHAUN F. ALONZO
</ul>

<h3>K A P P A    C L A S S</h3>
<ul>
	048 BENJAMIN GAPUZ, JR.
	049 JONATHAN A. TAA
	050 REGGI SCOOBI MORRIS II
</ul>

<h3>L A M B D A    C L A S S    SPRING 2002 </h3>
<ul>
	 051 RICARDO FLORES JR
	052 MICHAEL GESLANI
	053 KENNY YAN
</ul>

<h3>M U    C L A S S    FALL 2003</h3>
<ul>
	 054 RYAN LAM
	055 JASON PRESTOSA
	056 JOSEPH IGNACIO
</ul>

<h3>N U    C L A S S    SPRING 2004</h3>
<ul>
	 057 GABRIEL D. VASALLO
	058 CHARLZ JOHN C. BOADO
</ul>

<h3>X I    C L A S S    FALL 2004</h3>
<ul>
	 059 RAE CANLAS
	060 JASON MANALANG
</ul>

<h3>O M I C R O N    C L A S S    FALL 2005</h3>
<ul>
	061 DERRICK VALDEZ
	062 CARLO BLANCO
	063 SAMOEUN SON
	064 KEVEN NGAUV
	065 CHRISTOPHER GONZALES
</ul>

<h3>P I    C L A S S    SPRING 2007</h3>
<ul>
	066 KHAI LY
</ul>

<h3>R H O    C L A S S    FALL 2007</h3>
<ul>
	067 CHESTER BATACLAN
	068 SALVADOR RAMIREZ
</ul>

<h3>S I G M A    C L A S S    SPRING 2008</h3>
<ul>
	069 CHRISTOPHER TRAN
</ul>

<h3>T A U    C L A S S    SPRING 2009</h3>
<ul>
	070 QUINCY FONG
	071 RON TOLENTINO
	072 JOSE DE ANDA
	073 BRANDON BEHAVRESH
</ul>

<h3>U P S I L O N   C L A S S    FALL 2009</h3>
<ul>
	074 ERIC MCGUIRE
	075 REI COLOMA
</ul>

<h3>P H I    C L A S S   SPRING 2010 </h3>
<ul>
	076 EIDREF LAXA
	077 NAGEL LEUS
	078 PATRICK GALLANO
</ul>

<h3>C H I    C L A S S   FALL 2010 </h3>
<ul>
	 079 EARL SABAL
	080 SIDNEY QUITORIO
	081 MICHAEL BICOMONG
	082 LOUIE AGUILAR
</ul>

<h3>P S I    C L A S S    SPRING 2011 </h3>
<ul>
	083 JOHN NGUYEN
	084 HANSEL FERNANDES
	085 ALAN JAMES BARNETT
	086 DONALD PHONSEYA
	087 DAVITH KAING
	088 MARVIN JAVIER
	089 SANG YEOP LEE
	090 CLIFFORD SUN
</ul>

<h3>O M E G A    C L A S S FALL 2011</h3>
<ul>
	091 JACK CEN 
	092 SANTINO RAFANAN 
	093 ANDREW CHEN 
	094 GEOFFREY TOLENTINO 
	095 KEVIN MCCARTHY 
	096 IVAN UNG 
	097 MYKAL HALL
	098 DANIEL NGUYEN 
</ul>

<h3>A L P H A    A L P H A    C L A S S  SPRING 2012</h3>
<ul>
	099 ROHIT LAL
	100 JAY CHOE  
	101 CHARLES HO  
	102 THOMAS LIN 
	103 KENNY LAPRELLE
	104 CHRIS JAVA 
	105 GABRIEL STEWART
	106 STEVEN FU
	107 ALVIN DAN PANGAN
	108 MATTHEW DIVINA
	109 BRIAN YOUNG 
	110 MASON YANG
	111 HENRY VAN NGUYEN
	112 CYRILLO JAMES SILVESTRE  
	113 GARRETT JEE
	114 ANGELO DIMALANTA 
</ul>

<h3>A L P H A   BETA    C L A S S  FALL 2012</h3>
<ul>
	115 JARRY VIET TRUONG
	116 CHARLIE BOADO
	117 JOSHUA LAWAS
	118 JOEY MA
</ul>