<h1 class="box">About Us</h1>

<div class="box half-page scroll-box left">
	<h2>Brothers</h2>
	<%= erb :'main_pages/_brothers' %>
</div>

<div class="half-page right">
	<div class="box">
			<h2>History</h2>
		<p>
			Zeta Chi Epsilon was founded at San Francisco State University on January 1, 1991 by seven diversified individuals who were bound together to achieve common goals. The seven Founding Fathers established a fraternity where people of different views, personalities, and backgrounds could exist. The organization began as a dream, but over time, the dream became a reality.
		</p>
	</div>

	<div class="box">
			<h2>Philosophy</h2>
		<p>
			The Men of Zeta Chi Epsilon are dedicated in preserving the traditions of the Fraternity and upholding the three main principles, which are unity, leadership, and brotherhood. Academics, community service, and social activities are a part of Zeta Chi Epsilon tradition. Although we are a social Fraternity, our responsibilities extend to the community. We promote social awareness with other organizations and other campuses. Our promotions of multi-culturalistic ideals enable us to look beyond the confines of skin color and into the heart and character of each individual.
		</p>
	</div>
</div>

	