<h1 class="box">Contact Us</h1>

<div class="box">
	<h2>Cabinet</h2>
	<table class="cabinet">

		<tr>
			<th>Pledge Lord</th>
			<th>President</th>
			<th>Vice President</th>
		</tr>

		<tr>
			<td></td>
			<td></td>
			<td></td>
		</tr>

		<tr>
			<th>Publicity</th>
			<th>Fundraiser</th>
			<th>Philanthropy</th>
		</tr>

		<tr>
			<td></td>
			<td></td>
			<td></td>
		</tr>

		<tr>
			<th>Social Chair</th>
			<th>Treasurer</th>
			<th>Publicity</th>
		</tr>

		<tr>
			<td></td>
			<td></td>
			<td></td>
		</tr>

		<tr>
			<th>Brotherhood</th>
			<th>Academics</th>
			<th>Secretary</th>
		</tr>

		<tr>
			<td></td>
			<td></td>
			<td></td>
		</tr>

		<tr>
			<th>Chancellor</th>
			<th>Liason</th>
			<th>Ritual</th>
		</tr>

		<tr>
			<td></td>
			<td></td>
			<td></td>
		</tr>
	</table>
</div>
	

<ul class="box">
	<li><a href="https://www.facebook.com/Zeta-Chi-Epsilon-Gamma-Chapter-San-Jose-State-University-446871372186163/">Facebook</a></li>
</ul>