<h1 class="box">Photos</h1>

<ul>
	<% @photos.each do |photo| %>
		<% if !photo(photo).empty? %>
			<div class="box">
				<li class="photos"><%= photo(photo) %></li>	
				<li class="photo-content"><%= content(photo) %></li>
			</div>
		<% end %>

	<% end %>
</ul>