body {
  background-color: red;
}

.nav-bar {
  position: relative;
  background-color: black;
  padding: 0;
  width: auto;
  padding: 10px;
  margin:-10px;
}

.nav-bar ul {
  height: 30%;
  width: 100%;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

li {
  display: inline;
  
}

li a:hover {
    background-color: #555;
    color: white;
}