body {
  background-color: black;
  background-image: url("../images/ZXE-background.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center; 
  color: white;
  font-family: "Open Sans";
  font-weight: lighter;
}

.avatar {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  border: outset white;
  margin-top: 20px;
}

.nav-bar {
  position: fixed;
  top: 0;
  background-color: #8B0000;
  padding: 0;

  margin-left: -8px;
  outline-color: white;  
  outline-style: outset;
  width: 100%;
  z-index: 500;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.nav-link {
    float: left;
    padding: 14px 16px;
}

.nav-link a {
    display: block;
    color: white;
    text-align: center;
    text-decoration: none;
}

.container {
  width: 80%;
  padding: 0;
  margin-left: auto;
  margin-right: auto;
}

.box {
  padding: 15px;
  color: white;
  background-color: #8B0000;
  opacity: .95;
  margin-bottom: 10px;
  border-radius: 5%;
  border: 3px outset white;
}

.half-page {
  padding: 0;
  vertical-align: top;
  display: inline-block;
  width: 49%;
}

.left {
  
}

.right {
  float: right;
}

.scroll-box {
  height: 510px;
  overflow:scroll;
  border-radius: 5%;
}

.brother{
  margin-left: 35%;
}

h1 {
  text-align: center;
  margin-bottom: 0;
  font-size: 100px;
}

h2 {
  text-align: center;
}

.cabinet {
  width: 100%;
}

::-webkit-scrollbar { 
  background-color: transparent;
  border-radius: 5%
}

::-webkit-scrollbar-thumb        { 
  background-color: black;
}

::-webkit-scrollbar-corner { 
  background-color: transparent;
}

td {
  text-align: center;
}

th {
  font-style: unset;
}

.fb-posts {
  list-style-type: none;
  width: 100%;
}

iframe {
  width: 95%;
  height: 500px;
}

.photos img {
  width: 80%;
  display: block;
  margin: auto;
}

.photo-content {
  padding-top: 20px;
  padding-bottom: 20px;
  width: 80%;
  margin: auto;
}

.login-form {
  margin-top: 100px;
  text-align: center;
}

.logout-button {
  background:none;
  color:inherit;
  border:none; 
  padding: 0;
  font: inherit;
  display: block;
  color: white;
  text-align: center; 
}


.nav-link:hover {
    background-color: gray;
}

.greek-class {
  font-size: 25px;
}

.semester-crossed {
  font-weight: bold;
}
