body {
  background-color: black;
  background-image: url("../images/ZXE-background.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center; 
  color: white;
}


.nav-bar {
  position: fixed;
  background-color: black;
  padding: 0;
  margin-top: -75px;
  margin-left: -8px;
  outline-color: white;  
  outline-style: outset;
  width: 100%;
  z-index: 500;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
li a:hover {
    background-color: gray;
}

.container {
  width: 80%;
  padding: 0;
  margin-left: auto;
  margin-right: auto;
}

.box {
  padding: 15px;
  color: white;
  background-color: red;
  opacity: .85;
  margin-bottom: 10px;
}

.half-page {
  padding: 0;
  vertical-align: top;
  display: inline-block;
  width: 49%;
}

.left {
  
}

.right {
  float: right;
}

.scroll-box {
  height: 510px;
  overflow:scroll;
}

.brother{
  margin-left: 35%;
}

h1 {
  text-align: center;
  font-size: 100px;
  margin-bottom: 0;
}

h2 {
  text-align: center;
}

.cabinet {
  width: 100%;
}

::-webkit-scrollbar { 
  background-color: red;
}

::-webkit-scrollbar-thumb        { 
  background-color: black;
}

::-webkit-scrollbar-corner { 
  background-color: red;
}