<div class="nav-bar">
  <ul>
    <li class="nav-link"><a href="/home">Home</a></li>
    <li class="nav-link"><a href="/about">About</a></li>
    <li class="nav-link"><a href="/contact">Contact</a></li>
    <li class="nav-link"><a href="/news">News</a></li>
    <li class="nav-link"><a href="/photos">Photos</a></li>
  </ul>  
</div>