<!DOCTYPE html>
<html lang="en">
<head>
  <link rel="stylesheet" href="/css/normalize.css">
  <link rel="stylesheet" href="/css/application.css">

  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
  <script src="/js/application.js"></script>

  <title>Zeta Chi Epsilon</title>
</head>

<body>
  <div class="container">
    <%= erb :_navbar %>
    <%= yield %>

  </div>
</body>
</html>
